.home-page-container{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    min-height: 100vh;
    
}

section * {
    
    background-color: rgb(227, 227, 227);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.home-page-top{
   margin-top: 30px;
}

.search-bar-component{
    
}

.home-page-middle-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(227, 227, 227);    
}

.restaurants-text{
    font-size: 45px;
    
}

.home-page-middle-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(227, 227, 227);
}

.groceries-text{
   
}

.groceries-icon{
    
   
}

.alcohol-text{
    font-size: 30px;
    
}

.alcohol-icon{
    
}

.home-page-middle-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(227, 227, 227);
}

.home-page-navbar{
    border-top: 5px solid black;
    margin-bottom: 15px;
}
